VITE_SUPABASE_URL=https://bupfhfeuoufqwlriktqw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1cGZoZmV1b3VmcXdscmlrdHF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA4MzU2NTEsImV4cCI6MjA1NjQxMTY1MX0.fA-o7pd7FhPlarkHa1TnFPcmH6KaiiVfSIKmEhQLFoc